.message-block {
  display: flex;
  align-items: center;
  margin: 0;
  border-radius: 0.25rem;
  font-family: "Roboto Mono", monospace;
  font-size: 0.8rem;
}

.message-tx {
  color: rgba(14, 116, 144, 0.8);
}

.message-rx {
  color: unset;
}

.message-content {
  white-space: pre-wrap;
  word-wrap: break-word;
}
